body{
  width:800px;
  background:#f0fff0 url("../images/home/homepage_002.png");
  background-repeat:no-repeat;
  background-position:right top;
  font-family:Helvetica,Arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', ;
  font-size:14px;
  color:#22483f;
}
/*normol*/
h2{
  font-size: 32px;
}
a{
  color:#22483f;
}
a:hover{color:#007770;}
/*homepage*/
.content{
  width:60%;
  padding-top:100px;
  margin-left:50px;
}
.homenav1{
  height:auto;
  margin-top: 100px;
}
.homenav{
  height:auto;
 margin-top: 10px;
}
.foot{
  margin-top:300px;
  font-size:5px;
}
