body{
  background:#f0fff0 url("../images/home/homepage_001.png");
  background-repeat:no-repeat;
  background-position:right top;
  font-family:Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial,;
  color:#22483f;
}
/*normol*/
h2{
  font-size: 32px;
}
a{
  color:#22483f;
}
a:hover{color:#007770;}
/*homepage*/
.content{
  width:60%;
  margin-top:100px;
  margin-left:80px;
}
.homenav1{
  height:auto;
  margin-top: 100px;
}
.homenav{
  height:auto;
 margin-top: 10px;
}
.foot{
  margin-top: 200px;
  font-size:9px;
}
.foot span{
  padding:5px;
}
