body{
  width:100%;
  background:#f0fff0 url("../images/home/homepage_002.png");
  background-repeat:no-repeat;
  background-position:right top;
  font-family:Helvetica,Arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', ;
  color:#22483f;
  font-size:1em;
}
/*normol*/
h2{
  font-size: 1.5em;
}
a{
  color:#22483f;
}
a:hover{color:#007770;}
/*homepage*/
.content{
  width:60%;
  padding-top:4%;
  margin-left:2%;
}
.homenav1{
  height:auto;
  margin-top: 15%;
}
.homenav{
  height:auto;
 margin-top: 2%;
}
.foot{
  margin-top:50%;
  font-size:0.6em;
}
